.buttons {
    height: fit-content;
    border-radius: 40%;
    padding: .5rem;
    background-color: steelblue;
    border: rgba(128, 128, 128, 0.692) 2px solid;
    cursor: pointer;
}

.buttons:hover {
    background-color: tan;
}